@import url('https://fonts.googleapis.com/css?family=Roboto|Suez+One&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
}
body,html{
    width: 100%;
    height: 100%;
}
body{
    background-color: #fafafa;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
header{
    width: 100%;
    padding: 10px 0.5% 0px 0.5%;
    background: transparent;
    float: left;
    position: fixed;
}
header #logo{
    color:#fff;
    cursor: pointer;

}
header #logo span{
    font-size: 1.7em;
    line-height: 45px;
    margin-left: 40px;
    font-family: 'Suez One',serif;
}
@media (min-width:701px){
    #logo{
        float: left;
        width: 30%;
        font-size: 1.1em;

    }
#about{
    float: right;
    width: 67%;
    }
}

@media (max-width:700px){
    #logo{
        margin-top: 15px;
        width: 100%;
        font-size: 1.5em;
        
    }
#about{
    float: left;
    width: 100%;
    }
}
#about{
    font-size: 1em;
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;
}
#about>a{color: #fff;}
#about>a:hover{
    color: #b0b0b0;
    text-decoration: underline;
}
#about > a:not(:last-child){
    margin-right: 7%;
}
.fixed{
    z-index: 5000;
    background-color: #fff;
    border-bottom: 1px solid silver;
}
header.fixed #logo{
    color: #343434;

}
.fixed #about a{ color: #343434;}
.fixed #about a:hover{  color: #7c7c7c;}
#top{
    widows: 100%;
    background-image: url(https://it-wo.ru/images/2018/11/25/web-programmirovanie_large.jpg);
    background-blend-mode: multiply;
    background-color: #2e3a44;
    background-size: cover;
    text-align: center;
    color: #fff;

}
@media (min-width:1001px){
    #top{
        font-size: 3em;
        height: 1000px;
    }
}
@media (max-width:1000px) and (min-width:651px){
    #top{
        font-size: 2em;
        height: 600px;
    }
}
@media (max-width:650px){
    #top{
        font-size: 1.3em;
        padding-top: 50%;
        height: 500px;
    }
}

#top h1{
    padding-top: 20%;
}
#top h3 {
    color: #ccc;
}
#main{
    padding: 100px 20%;
    width: 20%;
    float: left;
    background-color: #f6f6f6;
    border-top: 2px solid silver;
    color: #484848;
    font-size: 1.3em;
}
@media(min-width:1401px){
    #main{
        padding: 100px 20%;
        width: 60%;}
}
@media(max-width:1400px){
    #main{
        padding: 100px 10%;
        width: 80%;}
}
@media(max-width:700px){
    #main{
        width: 98% !important;}}
#main div{
    width: 48%;
    margin-right: 2%;
    float: left;
}
#main h2{
    font-size: 3em;
}
#main span{color: #a0a0a0}

#overview {
    float: left;
    background-image: 
    url(https://st2.depositphotos.com/3198157/11947/i/950/depositphotos_119476132-stock-photo-computer-language-source-code.jpg);
    background-blend-mode: multiply;
    background-color: #4f1c75;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
    width: 100%;
    text-align: center;
    color: #fff;
}
#overview h2{ font-size: 4em;}
#overview h4{color: #ccc; font-size: 1.5em;}

#overview .img{
   float: left;
   width:30%;
   margin-right: 5%;
   margin-top: 50px;

}
#overview .img:nth-child(odd){
    margin-left: 18%
}
#overview img{
    background: #fafafa;
    padding: 5px;
    border: 2px solid silver;
    float: left;
    width: 100%;
    max-width: 500px;
}
#overview span{
    float: left;
    width: 100%;
    font-size: 2em;
    margin-top: 10px;
}
@media (max-width :700px){
    #overview img{ 
        width: 80%!important;
        margin-left: 10%!important;
        margin-left: 0!important;}
}
#contacts{
    width:100%;
    float: left;
    padding-bottom: 40px;
    padding-top: 70px;
    border-top: 4px solid#ccc;
    background: #f4f4f4;

}
h1,h2,h3,h4,h5{
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;

}
#contacts h5{font-size: 3em; color: #4f4f4f;}
#form_input{
    margin-top: 15px;
    width: 35%;
    margin-left: 38%;
    font-size: 1.1em;
}
#form_input label{
    color: #505050;
    cursor: pointer;
    font-size: 1.4em;
    font-family: 'Roboto Slab', serif;
}
#form_input label>span{
    color: #e87e7e;
}
#form_input input,#form_input textarea{
    margin-bottom: 10px;
    width: 70%;
    padding: 10px 2%;
    border-radius: 7px;
    border: 2px solid silver;
    font-size: 0.9em;
    color: #4a4a4a;
}
#form_input input:focus,#form_input textarea:focus{
    border-color: #333;
}
.btn{
    float: left;
    border-radius: 5px;
    padding: 5px 9px;
    font-size: 1.2em;
    background-color: #ec6550;
    text-shadow: #2e3a44 0 0 2px;
    cursor: pointer;
    color: white;
    font-family: 'Roboto Slab', serif;

}
.btn :hover{
    background-color: #c15434;
}
#faq{
    background-color: #fff;
    border-top: 2px dashed #e4e3e4;
    width: 100%;
    float: left;
    padding-top: 70px;
    padding-bottom: 70px;


}
#faq div{
    width: 25%;
    margin-left: 6%;
    float: left;
}
#faq .title{
    font-weight: lighter;
    color: #a3a0ad;
    margin-bottom: 20px;
    font-size: 2.2em;
}
#faq .heading{
    color: #7d7d7d;
    font-size: 1.3em;
    font-weight: bold;
}
#faq p{
    font-family: Arimo, Arial, Helvetica, sans-serif;
    color:#4a4a4a;
    font-size: 0.95em;

}